@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --radius-pill: 2.5rem;
  --font-weight-black: 900;
  
  --color-primary: #2563eb;
}

:root {
  /* Default to Dark Mode */
  --color-background: #020617;
  --color-foreground: #ffffff;
}

.dark {
  /* Dark Mode (Redundant but kept for safety) */
  --color-background: #020617;
  --color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}

/* Forçando o título gigante que você viu no design do Caio */
h1 {
  @apply text-7xl md:text-[10rem] font-black tracking-tighter leading-[0.8] uppercase;
}